.FoodPortionInput {
  margin: 2rem 0;
}

.FoodPortionInput__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FoodPortionInput__input {
  margin: 0.3333rem 0 2rem 0;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-gap: 0.5rem;
}

.FoodPortionInput__error {
  margin: 1.5rem 0;
  position: absolute;
  color: red;
}

label {
  font-size: 12px;
  margin: 1rem 0;
}