.App {
  display: grid;
  justify-content: center;
  margin: 2rem;
}

.App__divider {
  border-bottom: 1px solid lightgray
}

.App__content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
}